.oneCard {
  width: 20%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(65, 64, 64, 0.482);
  padding: 15px;
  color: antiquewhite;
  background-color: rgba(6, 6, 6, 0.482);
}
.photos {
  width: 70%;
  height: 60%;
  border-radius: 8px;
}

@media(max-width: 1070px){
  .oneCard{
    width: 30%;
    font-size: .8rem;
  }
  .photos {
    width: 80%;
    }
    }
@media(max-width: 880px){
  .oneCard{
    width: 40%;
  }
}
@media(max-width: 640px){
  .oneCard{
    width: 70%;
  }
 }